.characters{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: 100%;
  height: auto;
  margin: 90px 15px 15px 0;
}
.card{
  flex: 0 0 430px;
  margin: 10px;
  display: flex;
  background-color: rgb(145, 143, 143);
  border-radius: 7px;
  cursor: pointer;
  transform: scale(1);
  transition: all .4s;
  &:hover{
    z-index: 49;
    transform: scale(1.03);
  }

}
.img-container {
  flex: 0 0 50%;
  padding: 10px;
  img{
    max-width: 100%;
    display: block;
  }
}
.info-container{
  flex: 0 0 50%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: start;
  .title{
    font-size: 19px;
    margin: 5px 0;
    cursor: pointer;
    &:hover{
      text-decoration: underline;
    }
  }
  .status-species{
    margin: 10px 0 2px 0;
  }
  .location{
    margin: 10px 0 5px 0;
    span {
      color: rgb(199, 195, 195);
    }
  }
}
@media (max-width: 768px){
  .characters{
    flex-direction: column;
  }
  .card{
    max-width: 550px;
    flex: 0 0 auto;
  }
}
