.header{
  position: fixed;
  width: 100%;
  max-width: inherit;
  top: 0;
  left: auto;
  z-index: 50;
  background-color: rgb(39, 38, 38);
}
.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 80px;
  color: #fff;
  .header__logo{
    font-weight: bold;
    font-size: 20px;
  }
  .header__burger{
    display: none;
  }
  .header__list{
    display: flex;
    cursor: pointer;
    li{
      list-style: none;
      margin: 0 0 0 20px;
    }
  }
  .header__link{
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
    &:hover{
      text-decoration: underline;
    }
  }
}
@media (max-width: 768px){
  .header__body{
    height: 50px;
    padding: 5px;
    .header__logo{
      font-weight: bold;
      font-size: 15px;
    }
    .header__burger{
      display: block;
      position: relative;
      width: 30px;
      height: 20px;
      cursor: pointer;
    }
    .header__burger span{
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #fff;
      left: 0;
      top: 9px;
      transition: all 0.4s ease 0s;
    }
    .header__burger.active span{
      transform: scale(0);
    }
    .header__burger::before,
    .header__burger::after{
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      background-color: #fff;
      transition: all 0.6s ease 0s;
    }
    .header__burger::before{
      top: 0;
    }
    .header__burger.active::before{
      top: 9px;
      transform: rotate(45deg);
      transition: all 0.6s ease 0s;
    }
    .header__burger::after{
      bottom: 0;
    }
    .header__burger.active::after{
      bottom: 9px;
      transform: rotate(-45deg);
      transition: all 0.6s ease 0s;
    }
    .header__menu{
      position: fixed;
      top: -100%;
      overflow: auto;
      left: 0;
      width: 100%;
      padding: 10px 0 0 0;
      transition: all 0.4s ease 0s;
      background-color: rgb(39, 38, 38);
      transition: all 0.4s ease 0s;
    }
    .header__menu.active{
      top: 50px;
    }
    .header__list{
      display: block;
      margin: 0 0 0 15px;
      li{
        margin: 0 0 10px 0;
      }
    }
  }
}
