.tech{
  padding: 30px;
  color: #fff;
  line-height: 25px;
  margin-top: 50px;
  text-align: center;
  height: 100vh;
  font-size: 17px;
}
.tech-title{
  margin: 15px 0 25px 0;
  font-size: 21px;
  font-weight: bold;
}
.tech-text{
  margin-top: 10px;
  padding: 20px;
  text-align: left;
  line-height: 25px;
  border: 1px solid #fff;
  border-radius: 5px;
  box-shadow: 5px 7px 11px #fff;
}